@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.hidden {
    display: none;
}

.md-button.md-default-theme.md-warn.md-fab,
.md-button.md-warn.md-fab,
.md-button.md-default-theme.md-warn.md-raised,
.md-button.md-warn.md-raised {
    color: rgb(255, 255, 255);
    background-color: rgba(18, 101, 169, 0.84);
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}

.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(16, 108, 200);
}

.material-icons {
    font-size: 30px;
}

.md-datepicker-calendar-pane {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1000;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .md-datepicker-calendar-pane.md-pane-open {
    -webkit-transform: scale(1);
            transform: scale(1); }


.md-select-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0;
    display: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.md-select-menu-container.md-active{
    -webkit-transform: scale(1);
            transform: scale(1);
}

element.style {
    display: none;
    left: 8px;
    top: 34px;
    min-width: 689.703px;
    font-size: 12px;
    z-index: 1000;
}

md-expansion-panel-footer .md-expansion-panel-footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 48px;
    line-height: 48px;
    padding: 0 24px;
    border-top: 0px solid;
    box-sizing: border-box;
}

md-content.md-default-theme,
md-content {
    color: rgb(5, 42, 90);
    background-color: rgb(250, 248, 248);
}

md-checkbox.md-checked.green .md-icon {
    background-color: rgba(3, 66, 3, 0.87);
}
table.md-table th.md-column {
    color: rgb(106, 107, 103);
    font-size: 13px;
    font-weight: 440;
    white-space: nowrap;
}


md-checkbox.md-checked.green .md-icon {
    background-color: rgba(3, 66, 3, 0.87);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    border: 1px solid #044404;
    border-radius: 1px;
    background-color: rgb(20, 80, 3);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid rgb(240, 243, 240);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

md-switch.md-default-theme.md-checked.md-primary .md-thumb,
md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(11, 129, 183);
}

.material-icons {
    font-size: 25px;
}

body.md-default-theme,
body,
html.md-default-theme,
html {
    color: rgb(9, 95, 109);
    background-color: rgb(250, 250, 250);
}

.md-default-theme .md-datepicker-input,
.md-datepicker-input {
    color: rgba(7, 67, 146, 0.87);
}

md-content.md-default-theme,
md-content {
    color: rgb(7, 103, 187);
    background-color: rgb(250, 248, 248);
}
