<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Generador de Reportes</title>


  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.css">
  <link rel="stylesheet" href="https://rawgit.com/B-3PO/angular-material-expansion-panel/master/dist/md-expansion-panel.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.js"></script>
  <script src="https://rawgit.com/B-3PO/angular-material-expansion-panel/master/dist/md-expansion-panel.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@3.1.1/dist/sweetalert2.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@3.1.1/dist/sweetalert2.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <script src="scripts/datosController.js"></script>
  <!-- endbuild -->
</head>
<body>
  <div id="generadorReportesPepsico" class="hidden">

    <header class="geotabPageHeader">
      <h1 class="geotabPageName">Generador de Reportes
        <span class="subdued">Auditoría de registros</span>
      </h1>
      <div class="pageNameSecondary">
        <h3 class="geotabSecondaryTitle">
          <span id="generadorReportesPepsico-user"></span>
        </h3>
      </div>
    </header>
    <div layout="row" layout-md="column" ng-controller="accesoDatosController">
      <div flex >
        <br>
        <br>
        <!--Panel consulta por fechas de instalacion-->
        <md-expansion-panel md-component-id="panelOne"  >
          <md-expansion-panel-collapsed>
            <div class="md-summary" style="color:rgb(1, 26, 41)">
              <font size="3">CONSULTA POR FECHA DE INSTALACIÓN</font>
            </div>
            <md-expansion-panel-icon></md-expansion-panel-icon>
          </md-expansion-panel-collapsed>
          <md-expansion-panel-expanded>
            <md-expansion-panel-header>
              <div class="md-summary" style="color:rgb(1, 26, 41)">
                <font size="3">Consulta por fecha de instalación</font>
              </div>
              <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-header>
            <md-expansion-panel-content>
              <!--fecha inicio-->
              <div layout="row" layout-xs="column" >
                <div flex >
                  <div class="container" >
                    <md-content layout-padding>
                      <div layout-gt-xs="row" >
                        <div flex-gt-xs>
                          <h4>Fecha inicio</h4>
                          <md-datepicker ng-model="Data.start" md-placeholder="Enter date"></md-datepicker>
                        </div>
                      </div>
                    </md-content>
                  </div>
                </div>
                <!--fin fechas inicio-->
                <!--inicio fechas fin-->
                <div flex>
                  <div class="container" >
                    <md-content layout-padding>
                      <div layout-gt-xs="row">
                        <div flex-gt-xs>
                          <h4>Fecha fin</h4>
                          <md-datepicker ng-model="Data.end" md-placeholder="Enter date"></md-datepicker>
                        </div>
                      </div>
                    </md-content>
                  </div>
                  <!--boton consultar-->
                  <md-expansion-panel-footer>
                    <div flex></div>
                    <md-button class="md-warn md-raised" ng-click="fechasreport()">Consultar</md-button>
                  </md-expansion-panel-footer>
                </div>
                <!--fin fechas fin-->
              </div>
              <!--boton consultar-->
              <md-expansion-panel-footer>
                <div flex></div>
                <acronym title="File download">
                  <md-button  class="md-primary md-hue-1" onclick="crearCSVFechas()">
                    <i class="material-icons" style="color:rgb(21, 87, 5)">file_download</i>
                  </md-button>
                </acronym>
              </md-expansion-panel-footer>
              <script type="text/javascript">
                function crearCSVFechas() {
                    $("#fechaInstalacion").table2excel({
                      filename: "AuditoríadeRegistros_Fechas"
                  });
                  /*var tmpElementoFechas = document.createElement('a');
                  var data_type = 'data:application/vnd.ms-excel';
                  var tabla_div = document.getElementById('tabletocsvFechas');
                  var tabla_html = tabla_div.outerHTML.replace(/ /g, '%20');
                  tmpElementoFechas.href = data_type + ', ' + tabla_html;
                  tmpElementoFechas.download = 'GeneradorReportesxFechas.xls';
                  tmpElementoFechas.click();*/
                }
              </script>
              <!--fin btn consultar-->
              <md-table-container>
                <!--ng-model="selected" esto va en la tabla-->
                <table md-table md-row-select ng-model="selected" md-progress="promise" id="fechaInstalacion">
                  <thead md-head>
                    <tr md-row>
                      <th md-column md-numeric>Id</th>
                      <th md-column md-numeric>VIN </th>
                      <th md-column md-numeric>Económico </th>
                      <th md-column md-numeric>Numero de serie</th>
                      <th md-column md-numeric>Ultima comunicacion Geotab</th>
                      <th md-column md-numeric>Fecha inicio de consulta</th>
                      <th md-column md-numeric>Fecha fin de consulta</th>
                      <th md-column md-numeric>Geotab boton de panico</th>
                      <th md-column md-numeric>Cinturon de seguridad</th>
                      <th md-column md-numeric>Reversa</th>
                      <th md-column md-numeric>Aux 5</th>
                      <th md-column md-numeric>Aux 6</th>
                      <th md-column md-numeric>Aux 7</th>
                      <th md-column md-numeric>Aux 8</th>
                      <th md-column md-numeric>Circulo de seguridad</th>
                      <th md-column md-numeric>sunTech Id</th>
                      <th md-column md-numeric>sunTech Boton de panico</th>
                      <th md-column md-numeric>Llamada en cabina</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select-id="name" md-auto-select ng-repeat="dispositivo in resultReporteFechas">
                      <td md-cell>{{dispositivo.GOId}}</td>
                      <!--td md-cell>{{dispositivo.vehicleIdentificationNumber}}</td-->
                      <td md-cell>{{dispositivo.GOSerialNumber}}</td>
                      <td md-cell>{{dispositivo.LastCommunication}}</td>
                      <td md-cell>{{Data.start}}</td>
                      <td md-cell>{{Data.end}}</td>
                      <td md-cell>{{dispositivo.GOPanicButton}}</td>
                      <td md-cell>{{dispositivo.GOBelt}}</td>
                      <td md-cell>{{dispositivo.GOReverse}}</td>
                      <td md-cell>{{dispositivo.GOButton1}}</td>
                      <td md-cell>{{dispositivo.GOButton2}}</td>
                      <td md-cell>{{dispositivo.GOButton3}}</td>
                      <td md-cell>{{dispositivo.GOButton4}}</td>
                      <td md-cell>{{dispositivo.GOSafetyCircle}}</td>
                      <td md-cell>{{dispositivo.SunTechId}}</td>
                      <td md-cell>{{dispositivo.SunTechPanicButton}}</td>
                      <td md-cell>{{dispositivo.SunTechCalls}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-page-select></md-table-pagination>
            </md-expansion-panel-content>
            <!--btn cerrar panel-->
            <md-expansion-panel-footer>
              <div flex></div>
              <md-button class="md-warn" ng-click="$panel.collapse()">Ocultar</md-button>
            </md-expansion-panel-footer>
            <!--fin btn cerrar panel-->
          </md-expansion-panel-expanded>
        </md-expansion-panel>
        <!--fin consultas por fecha de instalacion-->
        <br>
        <!--inicio panel consulta por vehiculo-->
        <md-expansion-panel md-component-id="panelOne">
          <md-expansion-panel-collapsed>
            <div class="md-summary" style="color:rgb(1, 26, 41)">
              <font size="3">CONSULTA POR VEHÍCULO</font>
            </div>
            <md-expansion-panel-icon></md-expansion-panel-icon>
          </md-expansion-panel-collapsed>
          <md-expansion-panel-expanded>
            <md-expansion-panel-header>
              <div class="md-summary" style="color:rgb(1, 26, 41)">
                <font size="3">CONSULTA POR VEHÍCULO</font>
              </div>
              <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-header>
            <md-expansion-panel-content>
              <div layout="row">
                <md-input-container flex="50">
                  <small class="md-caption">
                    <md-select multiple name="field" ng-model="dispositivoSeleccionado" placeholder="Seleccionar dispositivos..." data-md-container-class="selectdemoSelectHeader">
                      <md-select-header layout="column" class="demo-select-header" >
                        <md-input-container>
                          <input ng-model="busqueda" type="search" ng-model-options="{debounce: {'default': 1000, 'blur': 0}}" placeholder="Buscar dispositivos..."
                            class="demo-header-searchbox md-text" ng-keydown="updateSearch($event)" />
                        </md-input-container>
                      </md-select-header>
                      <md-option ng-repeat="dispositivo in lstDeviceGeotab | filter: busqueda" ng-value="{{dispositivo}}">{{dispositivo.name}}</md-option>
                    </md-select>
                    <div ng-messages="form.field.$error">
                    </div>
                  </small>
                </md-input-container>
              </div>
              <!--fecha inicio-->
              <div layout="row" layout-xs="column">
                <div flex>
                  <div class="container">
                    <md-content layout-padding>
                      <div layout-gt-xs="row">
                        <div flex-gt-xs>
                          <h4>Fecha inicio</h4>
                          <md-datepicker ng-model="Data.start" md-placeholder="Enter date"></md-datepicker>
                        </div>
                      </div>
                    </md-content>
                  </div>
                </div>
                <!--fin fechas inicio-->
                <!--inicio fechas fin-->
                <div flex>
                  <div class="container">
                    <md-content layout-padding>
                      <div layout-gt-xs="row">
                        <div flex-gt-xs>
                          <h4>Fecha fin</h4>
                          <md-datepicker ng-model="Data.end" md-placeholder="Enter date"></md-datepicker>
                        </div>
                      </div>
                    </md-content>
                  </div>
                  <!--boton consultar-->
                  <md-expansion-panel-footer>
                    <div flex></div>
                    <md-button class="md-warn md-raised" ng-click="vehiculosreport()">Consultar</md-button>
                  </md-expansion-panel-footer>
                </div>
                <!--fin fechas fin-->
              </div>
              <!--boton consultar-->
              <md-expansion-panel-footer>
                <div flex></div>
                <acronym title="File download">
                  <md-button id="fechaVehiculo" class="md-primary md-hue-1" onclick="crearCSVvehiculo()">
                    <i class="material-icons" style="color:rgb(21, 87, 5)">file_download</i>
                  </md-button>
                </acronym>
              </md-expansion-panel-footer>
              <script type="text/javascript">
                function crearCSVvehiculo() {
                    $("#fechaDevice").table2excel({
                      filename: "AuditoríadeRegistros_Dispositivos"
                  });
                  /*var tmpElementoFechas = document.createElement('a');
                  var data_type = 'data:application/vnd.ms-excel';
                  var tabla_div = document.getElementById('tabletocsvFechas');
                  var tabla_html = tabla_div.outerHTML.replace(/ /g, '%20');
                  tmpElementoFechas.href = data_type + ', ' + tabla_html;
                  tmpElementoFechas.download = 'GeneradorReportesxFechas.xls';
                  tmpElementoFechas.click();*/
                }
              </script>
              <!--fin btn consultar-->
              <md-table-container>
                <!--ng-model="selected" esto va en la tabla-->
                <table md-table md-row-select md-progress="promise" id="fechaDevice">
                  <thead md-head>
                    <tr md-row>
                      <th md-column md-numeric>Id</th>
                      <th md-column md-numeric>VIN </th>
                      <th md-column md-numeric>Económico </th>
                      <th md-column md-numeric>Numero de serie</th>
                      <th md-column md-numeric>Ultima comunicacion Geotab</th>
                      <th md-column md-numeric>Fecha inicio de consulta</th>
                      <th md-column md-numeric>Fecha fin de consulta</th>
                      <th md-column md-numeric>Geotab boton de panico</th>
                      <th md-column md-numeric>Cinturon de seguridad</th>
                      <th md-column md-numeric>Reversa</th>
                      <th md-column md-numeric>Aux 5</th>
                      <th md-column md-numeric>Aux 6</th>
                      <th md-column md-numeric>Aux 7</th>
                      <th md-column md-numeric>Aux 8</th>
                      <th md-column md-numeric>Circulo de seguridad</th>
                      <th md-column md-numeric>sunTech Id</th>
                      <th md-column md-numeric>sunTech Boton de panico</th>
                      <th md-column md-numeric>Llamada en cabina</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select-id="name" md-auto-select ng-repeat="descarga in resultConsultaVehiculos | filter: q track by $index">
                      <td md-cell>{{descarga.GOId}}</td>
                      <!--td md-cell>{{descarga.vin}}</td-->
                      <td md-cell>{{descarga.GOSerialNumber}}</td>
                      <td md-cell>{{descarga.LastCommunication}}</td>
                      <td md-cell>{{Data.start}}</td>
                      <td md-cell>{{Data.end}}</td>
                      <td md-cell>{{descarga.SunTechPanicButton}}</td>
                      <td md-cell>{{descarga.GOPanicButton}}</td>
                      <td md-cell>{{descarga.SunTechIn1}}</td>
                      <td md-cell>{{descarga.SunTechCalls}}</td>
                      <td md-cell>{{descarga.GOReverse}}</td>
                      <td md-cell>{{descarga.GOButton1}}</td>
                      <td md-cell>{{descarga.GOButton2}}</td>
                      <td md-cell>{{descarga.GOButton3}}</td>
                      <td md-cell>{{descarga.GOButton4}}</td>
                      <td md-cell>{{descarga.GOSafetyCircle}}</td>
                      <td md-cell>{{descarga.GOBelt}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page-select></md-table-pagination>
            </md-expansion-panel-content>
            <!--btn cerrar panel-->
            <md-expansion-panel-footer>
              <div flex></div>
              <md-button class="md-warn" ng-click="$panel.collapse()">Ocultar</md-button>
            </md-expansion-panel-footer>
            <!--fin btn cerrar panel-->
          </md-expansion-panel-expanded>
        </md-expansion-panel>
      </div>
    </div>
  </div>
</body>

</html>
